apiVersion: v1
kind: Service
metadata:
  name: survey-api
  labels:
    app: survey-api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: survey-api
